<!DOCTYPE html>
<html th:replace="~{layout :: layout('Exercise Submissions', ~{::section} , '')}">
<head>
</head>
<body>
<section>

    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h5><span th:text="${exercise.name}">name</span> results.</h5>
                <p class="text-dark-7 text-m mt-2">List of all exercise submissions.</p>
            </div>
        </div>

        <!-- empty state -->
        <div class="text-center" th:if="${ exerciseResults.empty }">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto h-12 w-12 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
            </svg>
            <h3 class="mt-2 text-sm font-semibold text-gray-900">No exercise submission found</h3>
        </div>

        <div
                th:if="${ ! exerciseResults.empty }"
                th:with="submissionCount=${exerciseResults.?[submissionDate!=null].size}"
                >
            <dl class="mt-5 grid grid-cols-1 sm:grid-cols-3 gap-3">
                <div class="bg-dark-3 rounded-3xl p-6">
                    <dt class="text-dark-6">Total accepted</dt>
                    <dd class="mt-1 text-6xl font-bold text-white" th:text="${ exercise.students.size }">12</dd>
                </div>
                <div class="bg-dark-3 rounded-3xl p-6">
                    <dt class="text-dark-6">Total submissions</dt>
                    <dd class="mt-1 text-6xl font-bold text-white" th:text="${ submissionCount }">10</dd>
                </div>
                <div class="bg-dark-3 rounded-3xl p-6" th:if="${ submissionCount > 0}">
                    <dt class="text-dark-6">Average</dt>
                    <dd class="mt-1 text-6xl font-bold text-white">
                        <span th:text="${#aggregates.avg(exerciseResults.?[submissionDate != null].![score])}">10</span> /
                        <span th:text="${exerciseResults.?[submissionDate != null][0].maxScore}">10<∕span>
                    </dd>
                </div>
            </dl>
        </div>

        <table
                th:if="${ ! exerciseResults.empty }"
                class="mt-8 min-w-full table-auto">
            <thead class="border-b-2 border-b-dark-4 text-left">
                <tr>
                    <th class="pb-8">Name</th>
                    <th class="pb-8">Result</th>
                    <th class="pb-8">Date</th>
                    <th class="pb-8">View Repository</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result: ${exerciseResults}" class="even:bg-dark-3">
                    <td class="py-5 pl-4 pr-3 text-sm">
                        <div class="flex items-center gap-6">
                            <img class="h-14 w-14 rounded-full" th:src="${result.student.avatarUrl}" alt="">

                            <div class="flex flex-col gap-1">
                                <div class="text-2xl font-medium" th:text="${result.student.name}">Lindsay Walton</div>
                                <div class="text-xs text-dark-7 flex items-center">
                                    <img src="/icons/send.svg" class="h-4 w-4" alt="send email icon">
                                    <span class="ml-2" th:text="${result.student.email}">lindsay.walton@example.com</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-3 py-5 text-sm">
                        <div th:if="${result.score}" th:text="${result.score} + ' / ' + ${result.maxScore}">8/10</div>
                    </td>
                    <td class="px-3 py-5 text-sm">
                        <div th:if="${result.submissionDate}" th:text="${#temporals.format(result.localizedSubmissionDate, 'dd MMMM yyyy à HH:mm', #locale.FRENCH)}">date</div>
                    </td>
                    <td>
                        <a type="button"
                           th:href="${result.gitlabProjectUrl}"
                           target="_blank"
                           class="btn-primary">
                            <img src="/icons/gitlab-logo-200.svg" class="h-6 w-6 mr-1.5" alt="gitlab icon"/>
                            Open in GitLab
                        </a>
                    </td>
                    <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                        <form
                                th:if="${result.submissionDate}"
                                th:action="@{/assignments/{assignmentId}/students/{studentId}/reset(assignmentId=${exercise.id}, studentId=${result.student.name})}" method="post">
                            <button type="submit" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                Reset Grade
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</section>
</body>
</html>
