<!DOCTYPE html>
<html th:replace="~{layout-without-menu :: layout-without-menu('Student Dashboard', ~{::section})}">
<head>
</head>
<body>
<section>
    <div th:if="${#lists.isEmpty(classrooms)}" class="text-center">
        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
        </svg>
        <h3 class="mt-2 text-sm font-semibold text-gray-900">No Classrooms</h3>
        <p class="mt-1 text-sm text-gray-500">You have not joined any Classroom yet.</p>
        <p class="mt-1 text-sm text-gray-500">Ask your teacher to give you the join link.</p>
    </div>

    <div th:unless="${#lists.isEmpty(classrooms)}"
         th:each="classroom : ${classrooms}">

        <div class="border-b border-dark-6 mt-5 pb-5 sm:flex sm:items-center sm:justify-between">
            <div>
                <h5 th:text="${classroom.classroom.name}">Classroom Name</h5>
                <p class="text-sm text-dark-6 mt-2">Accepted assignments of the classroom <span th:text="${classroom.classroom.name}">Classroom Name</span>.</p>
            </div>
        </div>

        <ul role="list" class="grid grid-cols-3 gap-6 mt-6">
            <li th:each="studentAssignment : ${classroom.studentAssignments}"
                th:insert="~{ components/student-assignment-card::div(${studentAssignment}) }"
            >
            </li>
        </ul>
    </div>
</section>
</body>
</html>
