<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
        class="h-full bg-dark-1"
        th:fragment="layout (pageTitle, content, activeMenu)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png">
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>GitLab Classroom</title>
</head>
<body class="h-full">

<!--
    Created from template : https://tailwindui.com/components/application-ui/application-shells/stacked#component-2573937b459d64c1734b4141b1eff8d7
-->
<div class="min-h-full max-w-screen-2xl mx-auto px-20">
    <nav class="">
        <div class="mx-auto flex items-center justify-between">
            <!-- main menu -->
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <a th:href="@{/}" class="flex justify-center items-center text-white font-bold gap-2">
                        <img src="/images/fox-svgrepo-com.svg" class="h-8 w-8" alt="GitLab Classrooms logo"/>
                        <span>GitLab Classrooms</span>
                    </a>
                </div>
                <div class="ml-10 flex flex-row">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a th:href="@{/}"
                       class="flex justify-center align-middle text-white gap-2 py-4 px-10 hover:bg-dark-4"
                       th:classappend="${ activeMenu == 'Dashboard' ? 'bg-primary-100 ' : 'bg-dark-3' }"
                       aria-current="page">
                        <svg class="fill-white h-6 w-6">
                            <use xlink:href="icons/home.svg#icon"></use>
                        </svg>
                        Dashboard
                    </a>
                    <a th:href="@{/quiz}"
                       class="flex justify-center align-middle text-white gap-2 py-4 px-10 hover:bg-dark-4"
                       th:classappend="${ activeMenu == 'Quiz' ? 'bg-primary-100 ' : 'bg-dark-3' }"
                       aria-current="page">
                        <svg class="fill-primary-100 h-6 w-6">
                            <use xlink:href="icons/certificate-alt.svg#icon"></use>
                        </svg>
                        Quiz
                    </a>
                    <a href="https://gitlab-classrooms.gitlabpages.univ-lille.fr/gitlab-classrooms/user-documentation/teacher/01-teacher-dashboard/"
                       target="_blank"
                       class="flex justify-center align-middle text-white gap-2 py-4 px-10 bg-dark-3 hover:bg-dark-4">
                        <svg class="fill-primary-100 h-6 w-6">
                            <use xlink:href="icons/book.svg#icon"></use>
                        </svg>
                       Documentation
                    </a>
                </div>
            </div>

            <!-- profile icon -->
            <div class="flex items-center">
                <div class="relative" x-data="{ open: false }">
                    <div>
                        <button type="button"
                                id="user-menu-button" aria-expanded="false" aria-haspopup="true"
                                @click="open = ! open">
                            <img class="h-8 w-8 rounded-full" th:src="${user.avatarUrl}" alt="">
                        </button>
                    </div>
                    <div
                            :class="{ 'opacity-0': !open , 'opacity-100': open }"
                            class="absolute right-0 z-10 mt-2 w-32 text-white bg-primary-100 hover:bg-primary-80 origin-top-right rounded-md py-1"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="user-menu-button"
                            tabindex="-1">
                        <!-- Active: "bg-gray-100", Not Active: "" -->
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header class="py-10">
        <h4 th:text="${pageTitle}" class="font-extrabold text-white pl-10">Page Title</h4>
    </header>

    <main
            class="rounded-3xl bg-dark-2 p-10"
            th:insert="${content}"
    >
    </main>
</div>

</body>
</html>
