<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png">
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <title>GitLab Classroom - Login</title>
</head>

<body class="h-full">

<div class="flex min-h-full bg-dark-1">
    <div class="flex flex-col justify-center px-12 py-12">
        <h3 class="text-white bold">
            <img src="/images/fox-svgrepo-com.svg" class="w-20 mb-4"/>
            GitLab Classrooms
        </h3>
        <h4 class="mt-8 text-white">Sign in to your account</h4>

        <div class="flex">
            <a th:href="@{/oauth2/authorization/gitlab}" class="btn-primary mt-10">
                <img src="/images/gitlab-logo-200.svg"/>
                <span class="text-white text-base font-medium">Login with GitLab</span>
            </a>
        </div>
    </div>
    <div class="relative flex-1">
        <img class="absolute inset-0 h-full w-full object-cover"
             src="/images/desola-lanre-ologun-IgUR1iX0mqM-unsplash.jpg"
             alt="">
    </div>
</div>

</body>
</html>
