<!DOCTYPE html>
<html th:replace="~{layout :: layout('Quizz', ~{::section} )}">
<head>
</head>
<body>
<section class="wi">

  <script type="module">
    import {Quiz, Question, Answer} from 'https://juwit.github.io/reveal-quiz/dist/reveal-quiz-model-esm.js'

    const quiz = new Quiz();
    const sections = document.querySelectorAll('[data-quiz]');
    let questionId = 0
    sections.forEach(section => {
      const question = Question.fromMarkdown(section.innerText)
      question.id = questionId++

      quiz.questions.push(question);
    })

    console.log(quiz);
  </script>

  <section data-quiz style="white-space: pre-wrap">
# Who won the 2018 football world cup ?
- [x] France
- [ ] Germany
- [ ] Italy
- [ ] Brazil
  </section>

</section>
</body>
</html>
