@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Noto Sans", system-ui, sans-serif;
    }

    h1 { /* 60px , 3.75em */
        @apply text-6xl;
    }

    h2 { /* 48px , 3em */
        @apply text-5xl;
    }

    h3 { /* 40px , 2.5em */
        font-size: 2.5em;
        line-height: 1;
    }

    h4 { /* 28px , 1.75em */
        font-size: 1.75em;
        line-height: 1;
    }

    h5 { /* 24px, 1.5em */
        @apply text-2xl;
    }

    h6 { /* 20px, 1.25em */
        @apply text-xl;
    }
}

@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}


@layer components {

    .btn-primary {
        @apply flex items-center justify-center rounded-lg bg-primary-100;
        @apply hover:bg-primary-80;
        @apply active:bg-primary-60;
        @apply focus:bg-primary-100 focus:outline focus:outline-6 focus:outline-primary-40;
        padding: 13px 28px;
        gap: 10px;
    }
    .btn-primary img {
        width: 20px;
        height: 20px;
    }
}
