<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--
  Created from template https://tailwindui.com/components/application-ui/feedback/empty-states#component-42930c785190e14c24b53ba822f4a92c
-->

<div th:fragment="fragment" class="flex flex-col items-center text-white">

  <img src="/icons/classroom.svg" class="h-12 w-12"/>

  <h3 class="mt-2 text-sm font-semibold">No Classrooms</h3>

  <p class="mt-1 text-sm">Get started by creating a new Classroom.</p>

  <div class="mt-6">
    <a th:href="@{/classrooms/new}" class="btn-primary w-fit">
      <img src="/icons/plus.svg">
      <span class="text-white text-base font-medium">New Classroom</span>
    </a>
  </div>
</div>
</body>
