<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="fragment" class="flex flex-col">
    <a th:href="@{/classrooms/new}" class="btn-primary w-fit">
        <img src="/icons/plus.svg">
        <span class="text-white text-base font-medium">New Classroom</span>
    </a>
    <ul role="list" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">

        <li
                th:each="classroom : ${classrooms}"
                class="classroom-card"
        >
            <a
                    th:href="@{/classrooms/{classroomId}(classroomId=${classroom.id})}"
                    th:text="${classroom.name}"
                    class="classroom-card-name"
            >
                Classroom Name
            </a>
            <span class="flex flex-row gap-2 pl-6 text-white font-medium">
                <img class="w-6" src="/icons/group.svg"/>
                <span><span th:text="${classroom.students.size}">18</span> students</span>
            </span>
            <a th:href="${classroom.gitlabUrl}" target="_blank" class="btn-primary">
                <img src="/icons/gitlab-logo-200.svg">
                Open in GitLab
            </a>
        </li>
    </ul>
</div>

</body>
