<!DOCTYPE html>
<html th:replace="~{layout-without-menu :: layout-without-menu(|Classroom ${classroom.name} - Student ${student.name}|, ~{::section})}">
<head>
</head>
<body>
<section>
    <div class="flex flex-row justify-between border-b border-b-dark-4 py-8">
        <div>
            <h3 th:text="${classroom.name}" class="text-base font-semibold leading-6 text-gray-900 mb-2">Classroom Name</h3>
            <p class="text-base text-dark-7">Accepted assignments of the classroom <span th:text="${classroom.name}">Classroom Name</span>.</p>
        </div>
    </div>

    <ul role="list" class="grid grid-cols-3 gap-6 mt-6">
        <li th:each="studentAssignment : ${assignments}"
            th:insert="~{ components/student-assignment-card::div(${studentAssignment}) }"
        >
        </li>
    </ul>
</section>
</body>
</html>
