<!DOCTYPE html>
<html th:replace="~{layout :: layout('Classroom', ~{::section} , 'Dashboard')}">
<head>
</head>
<body>
<section x-data="filterStudentsFeature()">

    <script type="application/javascript">
        async function copyToClipboard(element){
            const relativeUrl = element.getAttribute('data-clipboard');
            const url = `${window.location.protocol}//${window.location.host}${relativeUrl}`;
            await navigator.clipboard.writeText(url);
        }

        function filterStudentsFeature() {
            return {
                filter: '',
                filterStudents(studentName) {
                    return studentName.toLowerCase().includes(this.filter.toLowerCase());
                }
            }
        }
    </script>

    <div class="mb-6">
        <div class="flex flex-row justify-between">
            <h5 th:text="${classroom.name}">
                Classroom name
            </h5>
            <a type="button"
               th:if="${gitlabGroupUrl}"
               th:href="${gitlabGroupUrl}"
               target="_blank"
               class="btn-primary">
                <img src="/icons/gitlab-logo-200.svg" class="h-6 w-6 mr-1.5" alt="gitlab icon"/>
                Open in GitLab
            </a>

        </div>
        <div class="mt-5 flex lg:ml-4 lg:mt-0">

            <span class="sm:ml-3">

            </span>
        </div>
    </div>

    <div class="flex flex-row gap-4 justify-between items-center border-b border-b-dark-4 py-8">
        <div class="flex-1">
            <h3 class="text-base font-semibold leading-6 text-gray-900 mb-2">Students</h3>
            <p class="text-base text-dark-7 flex flex-row gap-2">
                <img src="/images/users-icon-grey.svg" class="h-6 w-6 mr-1.5" alt="users icon"/>
                <span th:text="${classroom.students.size}">12</span> Students.
            </p>
        </div>

        <button type="button"
                onclick="copyToClipboard(this)"
                th:data-clipboard="@{/classrooms/{classroomId}/join(classroomId=${classroom.id})}"
                class="btn-primary">
            <img src="/images/link-icon-white.svg" class="w-6 h-6 mr-1.5 text-white" alt="link icon"/>
            Copy Join Link
        </button>

        <div>
            <div class="relative rounded-2xl">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                    <img src="/icons/users.svg">
                </div>
                <input
                        x-model="filter"
                        type="text"
                        class="block w-full bg-dark-4 rounded-2xl border-0 px-3 py-3 pl-12 text-gray-900 ring-1 ring-inset ring-dark-9 placeholder:text-dark-6 hover:ring-2 hover:ring-inset hover:ring-primary-100 focus:ring-4 focus:ring-inset focus:ring-primary-160"
                        placeholder="Search for Students">
            </div>
        </div>
    </div>

    <ul role="list" class="grid grid-cols-3 gap-6 mt-6 border-b border-b-dark-4 pb-6">
        <li th:each="student: ${classroom.students}"
            th:x-show="|filterStudents('${student.name}')|"
            th:insert="~{ components/student-card::div(${student}) }"
            th:with="link=@{/classrooms/{classroomId}/students/{studentName}(classroomId=${classroom.id},studentName=${student.name})}"
            >
        </li>
    </ul>

    <div class="flex flex-row justify-between border-b border-b-dark-4 py-8">
        <div>
            <h3 class="text-base font-semibold leading-6 text-gray-900 mb-2">Assignments</h3>
            <p class="text-base text-dark-7">Assignments of the current classroom.</p>
        </div>
        <a th:href="@{/classrooms/{classroomId}/assignments/new(classroomId=${classroom.id})}"
                type="button"
                class="btn-primary">
            <img src="/icons/plus.svg"/>
            New Assignment
        </a>
    </div>

    <ul role="list" class="grid grid-cols-3 gap-6 mt-6">
        <li th:each="assignment : ${classroom.assignments}"
            th:insert="~{ components/assignment-card::div(${assignment}) }"
            th:with="link=@{/assignments/{assignmentId}(assignmentId=${assignment.id})}"
        >
        </li>
    </ul>


</section>
</body>
</html>
